.course-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 45px;
}

.detail-info {
    margin-bottom: 5px;
}

.course-title {
    font-weight: 900;
}

.course-description {
    font-size: 18px;
    padding-top: 10px;
    min-height: 30px; 
    line-height: 1.5; 
    overflow-wrap: break-word; 
}

.course-instructor {
    font-size: 18px;
    padding-top: 20px;
    min-height: 30px; 
}

.course-enrollment {
    font-size: 18px;
    min-height: 30px; 
}

.button-overview-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.button-overview {
    position: relative;
    background-color: #ff6384;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 40px; 
    min-height: 40px; 
    line-height: 40px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; 
}

.button-overview:hover {
    background-color: #ff4a6e;
}

.progress-wrapper {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antara progress bar dan teks */
}

.progress-bar-container {
    width: 100%;
    height: 15px;
    background-color: #d4d9f1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 5px;
    background-color: #ea6488; /* Warna default */
    transition: width 0.3s ease-in-out;
}

.progress-bar-fill[data-width="0"] {
    background-color: #6488ea; /* Warna untuk progress 0% */
}

.progress-percentage-text {
    white-space: nowrap; /* Hindari teks membungkus */
    font-size: 14px;
    font-weight: bold;
    color: #000;
    font-family: 'Montserrat';
}


.button-enroll-container {
    display: flex; 
    justify-content: left; 
    align-items: left; 
    gap: 20px; 
    margin-top: none; 
}

.button-enroll {
    position: relative;
    background-color: #ff6384;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 40px; 
    min-height: 40px; 
    line-height: 40px; 
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; 
}

.button-enroll:hover {
    background-color: #ff4a6e;
}

.enroll-form input.form-control {
    width: 100%; 
    max-width: 280px; 
    height: 40px; 
    padding: 8px 10px; 
    border: 1px solid black; 
    border-radius: 5px; 
    font-size: 14px; 
    box-shadow: none; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #EFEFEF;
}

.enroll-form {
    display: flex; 
    justify-content: left; 
    align-items: left; 
    gap: 20px; 
    margin-top: 20px; 
}

